# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# other files in folder
Agent_PromptQuality.py
Day2_prompt.py
New_File.Python
Open Notebook.onetoc2